@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-orientation {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	padding: 20px;
	color: rgb(193, 237, 235, 0.7);
	font-size: 34px;
	font-weight: bold;
	letter-spacing: 3px;
}
